@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("/public/fonts/GOLSansText-Regular.woff");
@import url("/public/fonts/GOLSansText-Bold.woff");
@import url("/public/fonts/GOLSansText-Bold.ttf");
@import url("/public/fonts/GOLSansText-Bold.ttf");

@font-face {
  font-family: "GOLSansTextRegular";
  font-style: normal;
  src: url("/fonts/GOLSansText-Regular.woff") format('woff');
}
@font-face {
  font-family: "GOLSansText-Bold";
  font-style: bold;
  src: url("/fonts/GOLSansText-Bold.woff") format('woff');
}


*{
  font-family: 'GOLSansTextRegular';
  font-style: normal;
}

:root {
  --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #37322D
}

.fondo-cielo{
  background: rgb(60,196,222);
  background: linear-gradient(90deg, rgba(60,196,222,0.2) 0%, rgba(42,157,255,0.2) 100%);
  height: 100vh;
}

.video {   
  object-fit: cover;   
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1; 
}